<style>
	textarea { width:500px;}
</style>

<div class="row">
	
	<div class="span12">

		<h1>{{ title }}</h1>
	</div>
</div>
<div class="row">
	<div class="span8">

		<form method="POST" action="/write">
			<div class="field required">
				<label for="id_title">Title</label>
				<input type="text" required name="title" id="id_title" value="{{blogpost.title}}">
			</div>

			
			<div class="field required">
				<label for="post_body">Post</label>
				<textarea name="body" id="post_body" rows="4" cols="150">{{blogpost.body}}</textarea>
			</div>
			
			
			{{#blogpost}}
			<input type="hidden" name='blog_id' id='blog_id' value='{{blogpost.id}}'>{{/blogpost}}
			
			<input type="submit" class="btn" value="Save">
		</form>
	</div>
</div>